<header>
  <nav class="nav">
    <h3>Mini Message App</h3>
    <ul class="navLinks">
      <li class="navLink"><a href="/">Home</a></li>
      <li class="navLink"><a href="/new">New message</a></li>
    </ul>
  </nav>
</header>
